/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-color: #FFFFFF; 
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
  background-color: #F3F5F6;
  padding: 15px;
}

#score-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
  background-color: #69C673;
  padding: 10px;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #008297;
  color: #fff;
  background-color:  #008297;
  padding: 20px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  /*background-color: #008297;
  filter:brightness(1); 
  color: #000;
  font-weight: bold;
  margin: 0px; 
  font-size: 110%; 
  width: 110%;*/
  padding: 17px;
  background-color: #FFFFFF; /* Hintergrundfarbe */
  color: #000000; /* Textfarbe */
  border: 5px solid #FFD858; /* Neue Farbe für den Rahmen */
}

.btn:focus {
  outline: none;
}
