/* Random Quote Generator Styles */

body {
  font-family: 'Playfair Display', serif;
  background-color: #e5e5e5; 
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
  background-color: #F3F5F6;
  padding: 15px;
  border: 10px solid #9B9D9E; /* #FFD858; */
       
}

#score-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
  background-color: #69C673;
  padding: 10px;
  text-align: center;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.game-over {
  font-weight: bold;
}

.game-over:before {
  content: "+++ "; /*"&* "; */
}

.game-over:after {
  content: " +++"; /*" *&";*/
}

.btn.next-quiz {
  font-weight: bold;
  width: max-content;
  letter-spacing: 0.5rem;
}

.next-quiz:before {
  content: "+++  ";
  font-weight: bold;
}

.next-quiz:after {
  content: " +++";
  font-weight: bold;
}


.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  font-size: 18px;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #008297;
  color: #fff;
  background-color:  #008297;
  padding: 20px;
  margin: 10px;
  transition: .5s ;
  text-decoration: none;
}
.btn:hover {
  /* change size:
  background-color: #008297;
  filter:brightness(1); 
  color: #000;
  font-weight: bold;
  margin: 0px; 
  font-size: 20px; 
  width: 110%;*/
  padding: 17px;
  background-color: #FFFFFF; /* change bg color btn */
  color: #000000; /* change text color */
  border: 5px solid #FFD858; /* change border color */
  font-weight: bold;
}

.btn:focus {
  outline: none;
}
